body{
  background-image: url(/img/skyscraper-silhouette-against-vibrant-city-lights-dusk-generative-ai_188544-12571.avif);  
background-size: cover;
background-position: center;


     
}
.form{
  width: 300px;
  padding: 20px;
  text-align: center;
  background: url();
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
  background-position: center
  background-size:cover;
}
.textx{
background-color: rgb(13, 236, 5);

}
.btn1{
background-color: rgb(236, 240, 4);
}
.btn2{
background-color: rgb(236, 240, 4);

}
.cen{

}
.pa{
  display: flex;
  justify-content: center;
}
h2{
  color: rgb(255, 194, 102);
}